/*SEND GENERAL MASSAGESSS*/
.sendFacilty
{
    margin-top:2%;
    margin-left:1%;
}
.sendToFac 
{
    font-weight: bold;
    font-size:18px;
    margin-top:2%;
    text-align: right;
    color:black;
}
.facManuGen
{
    text-align: center;
}
.msgSubject
{
     font-weight: bold;
    font-size:18px;
    margin-top:2%;
    text-align: right;
    color:black;
}
.GenMsgText
{
    text-align:center;
    margin-top:2%;
    font-size:25px;
    font-weight: bold;
    color:black;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: #76b852;
    
}
.list-group {
    margin-bottom: 0px;

}
.userType{
    text-align: center;
    margin-bottom: 0px;
    
}


.state-icon {
    left: -5px;
}
#usr
{
    text-align: right;
}

.msgTitle
{
    margin-left: 2%;
}
.msg-info
{
    margin-left:5%;
}
.btn
{
    background-color: white;
    color:black;
    margin-top:1%;
}
#clrBtn
{
    margin-left:1%;
}
/*SEND PRIVATE MASSAGE*/
#guideManu
{
    margin-left: 4%;
}
.msgTitleP 
{
    margin-right:1%;
}
.dropdown-menu
{
    text-align: center;
}



.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}