.navbar
{
    background-color: white;
}
body
{
      background-color: #76b852;
}
.nav-img
{
    width:20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 1%;
}
#btn-menu
{
    background-color: #76b852;
}
.topHeader
{
    margin: 2%;
}
.sendFacilty
{
    margin-top:2%;
    margin-left:1%;
}
.sendToFac 
{
    font-weight: bold;
    font-size:18px;
    margin-top:2%;
    text-align: right;
    color:black;
}
.msgSubject
{
     font-weight: bold;
    font-size:18px;
    margin-top:2%;
    text-align: right;
    color:black;
}
.GenMsgText
{
    text-align:center;
    margin-top:2%;
    font-size:25px;
    font-weight: bold;
    color:black;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: #76b852;
    
}
.list-group {
    margin-bottom: 0px;

}
.userType{
    text-align: center;
    margin-bottom: 0px;
}
.userTypes:active{
    background-color: #76b852;
}
.state-icon {
    left: -5px;
}
#usr
{
    text-align: right;
}
.msgBody
{
    margin-left:0.4%;
}
.msgTitle
{
    margin-left: 5%;
}
.btn
{
    background-color: white;
    color:black;
}
#clrBtn
{
    margin-left:1%;
}