#formSubject
{
	text-align: center;
}
.j_lebal
{
  margin-right:5%;
}

.choiceList
{
    max-width: 100%;
}
.allQue{
	padding:0.5%;
	background-color:lavender;
	margin-top:2%;
}
.qstlbl{
	margin-right:5%;
}
#allTitles2{
	text-align:center;
}

th{
	text-align:right;
}
tr{
  font-size:90%;
	text-align:right;
	color:black;
}

#formTable{
	margin:5%;
	padding:2%;
	background-color:white;
	overflow: scroll;
	max-height: 50%;
  max-width: 100%;
}
#formLbl
{
	margin-right:10%;
	text-align:right;
	margin-top:-2%;
}
.fromDeatails{
	margin-right:5%;
	float:right;
	width:40%;
}
#group_btn{
	margin-left:5%;
	float:left;
	text-align:center;
	padding:3%
}
.SFL
{
    margin-top: 5%;
    font-size: 150%;
}
.page	
{
	text-align: right;
	font-size: 20px;
}

.qestionInput
{
	text-align: right;
	float:right;
	max-width: 74%;
	margin-top:3%;
}
.numOfAnswers{
	text-align: right;
	float:left;
	max-width: 25%;
	margin-top:3%;
}
#finish_btn
{
	margin-top:5%;
	width: 100%;
}

#listQue
{
	overflow: scroll;
	max-height: 50%;
}
.formRec
{
	width:80%;
	margin:0.5%;
	margin-top:2%;
	margin-right: 2%;
	padding:5%;
	font-size:95%;
	border:0;
	text-align: center;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 5px 5px gray;
}

#checkPermision
{
	text-align: center;
}

#selGuides
{
	height:20px;
	width:20px;
}
#selSocial
{
	height:20px;
	width:20px;
}