.anser
{
    display:inline;
   
}
.j_lebal
{
  margin-right:5%;
}
/*.selectR
{
  margin-right:29%;  
}*/
.choiceList
{
    background-color: yellow;
    max-width: 100%;
}
.selectFormDiv
{
    background-color: white;
    width: 100%;
    height: 75px;
    margin-top: 1%;

}
.SFL
{
    margin-top: 5%;
    font-size: 150%;
}