#body{
    overflow: scroll;
    max-height: 70%;
    max-width: 100%;
    padding: 2%;
    text-align: center;
}

.topHeader
{
    margin: 2%;
    padding:2%;
}
#logout{
  margin-top:-2%;
  color:white;
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #e52d27, #b31217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #e52d27, #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#nameInTop
{
  text-align:right;
}
#userName_lbl{
  margin-right:1%;
}
nav{
	text-align: right;
  margin-top: 3%;
  margin-left: -5%;
  margin-right: -5%;
}

.dropdown-menu{
		text-align: right;
}
.navbar-default {
  background-color: #f6f9f7;
  border-color: #12b44a;
}

#navLogo
{
    height:35px;
    width:70px;
    padding-bottom: 7px;
}

.navbar-default .navbar-text {
  color: #12b44a;
}
.navbar-default .navbar-nav > li > a {
  color: #12b44a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #07581c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #07581c;
  background-color: #12b44a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #07581c;
  background-color: #12b44a;
}
.navbar-default .navbar-toggle {
  border-color: #12b44a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: lightgreen;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #12b44a;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #12b44a;
}
.navbar-default .navbar-link {
  color: #12b44a;
}
.navbar-default .navbar-link:hover {
  color: #07581c;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #12b44a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #07581c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #07581c;
    background-color: #12b44a;
  }
}
/**********************************************/

.title{
	padding-right:3%;
  padding-left:3%;
	text-align:center;
  color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
}

.title h6 
{
  padding-top:2%;
}

#textAreaGM{
	text-align:right;
	font-size:18px;
  padding:3%;
	background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

#imgGM
{
  max-width: 90%;;
}

.messageFooter
{
	padding:1%;
  height: 45px;
	padding-top:3.5%;
	padding-right:4%;
	border-top:1px solid #456879;
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
}
.deleteMessage{
	text-align:right;
}

#dateMessage{
	margin: auto;
	float:left;
  margin-left:2%;
}

#clubHouseHP
{
	margin-top:0;
	height: 30px;
	width:100%;
  text-align: center;
}

/*------------------------------------------------------------------------------------*/

.clubSquare
{
  width:30%;
  margin:0.5%;
  margin-top:2%;
  margin-right: 2%;
  padding:5%;
  font-size:95%;
  border:0;
  text-align: center;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 5px gray;
}