.navbar
{
    background-color: white;
}
body
{
	background-color: #76b852;
}
.nav-img
{
    width: 15%;
    height: 9%;
    margin: 2%;
}
#btn-menu
{
    background-color: #76b852;
	margin: 0%;	
	margin-top:6%;
}
.topHeader
{
    margin: 2%;
}