/*#clubBottunGroup {
    padding-inline-start: 10px
}

#registerTitle
{
    margin:-5%;
}

#titleCH
{
    margin:-5%;
    margin-bottom:3%;
}
#btn0
{
    width:70PX;
    padding:10px;
    /*margin-right: 30px;
    margin-top : 10px;
}

#btn1
{
  width:80px;
    padding:10px;
    margin-left: 30px;
    margin-top : 10px;

}
#btn2
{
 width:100px;
    padding:10px;
    /*margin-right: 30px;
    margin-top : 10px;

}
#btn3
{
width:100px;
    padding:10px;
    margin-left: 30px;
    margin-top : 10px;

}
#btn4
{
  width:100px;
    padding:10px;
    /*margin-right: 30px;
    margin-top : 10px;

}

#btn5
{
  width:100px;
    padding:10px;
    margin-left: 30px;
    margin-top : 10px;
}


#btn6
{
width:100px;
    padding:10px;
    /*margin-right: 30px;
    margin-top : 10px;
}

#btn7
{
width:100px;
    padding:10px;
    margin-left: 30px;
    margin-top : 10px;

}
#btn8
{
width:100px;
    padding:10px;
    /*margin-left: 30px;
    margin-top : 10px;
}

*/

#addUser{
    margin:5%;
    text-align: center; 
}
