
.massage
{
    border: 2px solid #a1a1a1;
    /*padding: 10px 20px; */
    background: #dddddd;
    width: 100%;
    border-radius: 25px;
    margin: 0%;
  
}
.topic
{
    text-align: right;
    font-size: 100%;
}
.trash,.envelope
{
    padding: 10px ;  
}

.headline
{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}
.inbox ,outbox ,sendMsg
{
    text-align: center;
    padding: 10px 3px;
    /*width: 33.33333333333333%;*/
}
.outbox 
{
    text-align: center;
    padding: 10px 3px;
    /*width: 33.33333333333333%;*/
}
.sendMsg
{
    text-align: center;
    padding: 10px 3px;
    /*width: 33.33333333333333%;*/
}
.MassageList
{
    margin:0%; 
}
.massNav
{
    
    width: 100%;
}